body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
}


header {
    background-color: #523d3d;
    padding: 15px;
    color: #fff;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 20px #242121;
}

.up {
    background-color: rgb(87, 7, 2);
}

nav {
    display: flex;
    justify-content: center;
    background-color: #523d3d;
    transition: max-height 0.3s ease-out, transform 0.3s ease-out;
}

nav a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 10px rgb(126, 7, 7);
}

#menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out, transform 0.3s ease-out;
        transform-origin: top;
    }

    nav.active {
        max-height: 500px;
        transform: scaleY(1);
    }

    header {
        text-align: left;
    }

    .up {
        text-align: center;
    }

    #menu-icon {
        display: block;
        text-shadow: 2px 2px 10px rgb(126, 7, 7);
    }

    h1 {
        font-size: 17px;
        text-shadow: 2px 2px 10px rgb(126, 7, 7);
    }

    .grupal {
        position: relative;
        width: 100%;
        box-shadow: 2px 2px 20px black;
    }

    .reference {
        font-size: 5px;
        text-shadow: 2px 2px 20px rgb(241, 224, 224);
    }

    .list {
        width: 100%;
    }

    .lista {
        font-size: 14px;
    }

    #p-responsiva{
        width: 80%;
    }
}

.logo {
    position: relative;
    height: 55px;
    box-shadow: 2px 2px 20px rgb(22, 22, 27);
    border-radius: 30px;
}

.txt {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.5s;
}

.txt:hover {
    color: rgb(93, 93, 226);
    border-radius: 30px;
    text-shadow: 2px 2px 10px blue;
}

.txt:active {
    color: rgb(4, 4, 179);
    border-radius: 30px;
    text-shadow: 2px 2px 10px blue;
}


.txt2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 10px rgb(236, 228, 228);
}

nav a.txt3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 20px blue;
    transition: 0.5s;
    color: rgb(217, 217, 243);
}

.txt3:hover {
    text-shadow: 2px 2px 10px rgb(126, 7, 7);
    color: white;
}


.imagen-con-opacidad-color {
    width: 100%;
    background-color: rgba(138, 47, 47, 0.5);
}


.contenedor-imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 230px;
    width: 70%;
    border: 8px solid #422828;
    box-shadow: 2px 2px 10px black;
}


.fondo-opaco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imagen-superpuesta {
    width: 100%;
    display: block;
}


.prin2 {
    position: relative;
    width: 100px;
    top: -30px;
}

main {
    display: flex;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    position: relative;
    top: 50px;
    color: rgb(250, 250, 250);
    background-color: rgb(59, 8, 8);
    text-shadow: 2px 2px 5px rgb(37, 37, 37);
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 2px 2px 20px #242121;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.linea-vertical {
    display: flex;
    margin: auto;
    position: relative;
    border: 1px solid rgb(77, 44, 44);
    width: 80%;
    top: 200px;
}

.Bnv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 10px rgb(109, 94, 94);
    color: rgb(145, 14, 14);
}

.dcnt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    text-align: center;
    top: 220px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 20px rgb(124, 67, 67);
    color: rgb(139, 0, 0);
    font-size: 20px
}


footer {
    background-color: rgb(59, 8, 8);
    box-shadow: 2px 2px 30px black;
    color: #f1f1f1;
    text-shadow: 2px 2px 20px rgb(206, 56, 56);
    padding: 10px;
    position: relative;
    top: 300px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer .p {
    text-shadow: 2px 2px 10px rgb(250, 244, 244);
}

.reference {
    font-size: 12px;
    text-shadow: 2px 2px 30px rgb(255, 253, 253);
}


.warning {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
    top: 70px;
    color: rgb(145, 14, 14);
    text-shadow: 2px 2px 10px black;
}

.warning-txt {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: auto;
    font-size: 15px;
    top: 90px;
    color: rgb(139, 0, 0);
    width: 80%;
}

.lista {
    position: relative;
    list-style-type: disc;
    /* Puedes cambiar a 'circle' o 'disc' según tus preferencias */
    font-family: Arial, sans-serif;
    font-size: 16px;
    top: 150px;
    margin-bottom: 8px;
    color: rgb(126, 7, 7);
    text-shadow: 2px 2px 5px rgb(172, 166, 166);
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    /* Ajustar según sea necesario */
}